* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #f9d423  0%, #f83600 100%);
}

input {
  padding: 1rem 0.5rem 1rem;
  background-color:rgba(255, 255, 255 ,0.3)

  /* background: transparent 10%; */
  /* background-color: rbga(0,0,0,0); */
 


  


}

.search-container {
  /* background-opacity: 60%; */

}

.search-container input,
.search-container .suggestions {
  width: 49vw;

}

.search-container input {
  border: 2px darkorange solid;


}
.search-container .suggestions {
  position: absolute;
  width: 50vw;


  background:rgba(255, 255, 255 ,0.3)


}

ul {
  list-style-type: none;
  
}
ul.has-suggestions {

  /* TODO */
}

ul li {
  padding: 0.5rem 0.5rem 0.5rem ;
}

ul li:hover {
  background-color:  orange;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

input:focus {
  outline: none !important;
  border: 2px darkorange solid;

}