* {
    margin: 0;
    padding: 0;
}

/* :focus {
  border: 1px solid;
  border: 1px  #959EC9 solid;

} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(68.2deg, rgb(7, 3, 98) -0.1%, rgb(179, 26, 132) 47.7%, rgb(239, 186, 83) 100.2%);
}

input {
  padding: 1rem 0.5rem 1rem;


  color: black;
  


}

.search-container {
  opacity: 50%;

}


.search-container input,
.search-container .suggestions {
  width: 49vw;

}

.search-container input {
  border: 2px  #959EC9 solid;

}
.search-container .suggestions {
  position: absolute;
  width: 50vw;


  background-color: white;

}

ul {
  list-style-type: none;
  
}
ul.has-suggestions {

  /* TODO */
}

ul li {
  padding: 1rem 1rem 1rem ;
}

ul li:hover {
  background-color:  #959EC9;
}

input:focus {
  /* outline: none !important; */
  border: 2px #959EC9 solid;
}